h1 {
  background-color: maroon;
  text-align: center;
  color: gold;
  font-size: 60px;
  font-style: italic;
  width: 100%;
  padding: 15px;
}

button {
  background-color: Maroon;
  color: white;
  border: none;
  font-size: 25px;
  padding: 18px;
  margin: none;
  display: inline;
  text-align: center;
  float: left;
  width: 100px;
}

.tab button:hover {
  background-color: Navy;
}

a:link {
  color: gold;
  text-decoration: none;
}

a:visited {
  color: gold;
}

.w3-button {
  color: gold;
  width: 50.007%;
  height: 70px;
}

.w3-button:hover {
  background-color: Navy;
}

div {
  text-align: center;
}

div.achievements {
  color: gold;
  width: 320px;
  padding: 10px;
  border: 10px solid blue;
  margin: auto;
  align-items: center;
  float: middle;
}

h2, h3, h4 {
  font-size: 70px;
}

ul {
  font-size: 20px;
}

dl {
  font-size: 30px;
}

p {
  font-size: 20px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}



div.history {
  color: gold;
  border: 10px solid gold;
  width: 97%;
  height: 60%;
  padding: 30px;
  margin: 20px;
  align-items: center;
}

#grad1 {
  background-image: linear-gradient(navy, maroon);
  width: 98%;
  height: 100%;
}

.logo {
  width: 7%;
}

h2, h3, h4 {
  color: gold;
  font-style: italic;
}

ul {
  color: gold;
  font-size: 40px;
  list-style-type: none;
}

p {
  color: gold;
}

p.news {
  color: gold;
  font-size: 40px;
}

div.about {
  border: 10px solid gold;
  color: gold;
  width: 96%;
  height: 60%;
  padding: 10px;
  margin: 20px;
  align-items: center;
  float: left;
}
div.seniors {
  border: 10px solid gold;
  color: gold;
  padding: 10px;
  margin: 20px;
  align-items: center;
  width: auto;
  height: auto;
}
