h1 {
  padding: 15px
}
li {
  display: inline;
  font-size: 20px;
  margin: 70px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: maroon;
}
li a {
    display: inline;
    color: white;
    text-align: left;
    text-decoration: none;
  }
