h1 {
  padding: 15px;
}

button {
  background-color: Maroon;
  color: white;
  border: none;
  font-size: 25px;
  padding: 20px;
  margin: none;
  display: inline;
  text-align: center;
  float: left;
  width: 205.6px;
}

.tab button:hover {
  background-color: Navy;
}

a:link {
  color: gold;
  text-decoration: none;
}

a:visited {
  color: gold;
}

.w3-button {
  color: gold;
  width: 50%;
  height: 70px;
}

.w3-button:hover {
  background-color: Navy;
}

div {
  text-align: center;
}

.achievements {
  color: gold;
}

h2, h3, h4 {
  font-size: 70px;
}

ul {
  font-size: 20px;
}

dl {
  font-size: 30px;
}

p {
  font-size: 20px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  background-color: maroon;
  text-align: center;
  color: gold;
  font-size: 60px;
  font-style: italic;
}

div.goals {
  color: gold;
  width: 320px;
  padding: 10px;
  border: 10px solid blue;
  margin: auto;
  align-items: center;
}

.history {
  color: gold;
}

#grad1 {
  background-image: linear-gradient(navy, maroon);
  width: 100%;
  height: 100%;
}

.logo {
  width: 10%;
}

h2, h3, h4 {
  color: gold;
  font-style: italic;
}

ul {
  color: gold;
  font-size: 40px;
  list-style-type: none;
}
